# Ignore node_modules directory
**/node_modules

# Ignore build directories
**/build
**/dist

# Ignore editor files and directories
**/.vscode/
**/.idea/
**/*.log

# Ignore package-lock.json files
**/package-lock.json

# Ignore .DS_Store files
**/.DS_Store

**/.env